@{
    ViewBag.Title = "About";
}


<body>

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        About
                        <strong>B IDEAS HUB</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="~/img/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>Taking a successful business model from someone else and building on it is no crime. But it always need a good IDEA to take a first step . In fact, it is how most leaders build businesses. It doesn’t always take a “stroke of genius” to get to the top , but a single click of idea. But when those once-in-a-lifetime ideas strike, your window to act may be small. We don’t accept the idea that all of the good ideas have been taken. Many unique businesses are proof that you can find prosperity, even in a market that may not have even existed when you first had your idea.</p>
                    <p>Here we provide you with a central forum where you can get the latest ideas and their feasilbilty level. Share and discuss your ideas with the world, that will help you polish your idea. We provide you with a platform where you can not only get the latest ideas but also discuss its aftermaths with the successfull entreprenuers.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="~/img/femalpic.jpg" alt="">
                    <h3>
                        
                        <!-- <small>Job Title</small>-->
                    </h3>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="~/img/profilepic.jpg" alt="">
                    <h3>
                        
                        <!-- <small>Job Title</small>-->
                    </h3>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="~/img/femalpic.jpg" alt="">
                    <h3>
                   
                        <!--<small>Job Title</small>-->
                    </h3>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="~/img/profilepic.jpg" alt="">
                    <h3>
                        
                        <!--<small>Job Title</small>-->
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>